   .hover-text-button-235152 {
    background: none;
    border: none;
    font: inherit;
    color: rgb(212, 212, 212);
    cursor: pointer;
  }
  
  .hover-text-button-235152:hover {
    color: rgb(255, 255, 255) 
  }
  